<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <form [formGroup]="signinForm" (ngSubmit)="xuLyDangNhap()">
                <div class="form-group">
                    <label for="taiKhoan">Tài Khoản</label>
                    <input type="text" id="taiKhoan" class="form-control" formControlName="taiKhoan">
                    <div *ngIf="signinForm.get('taiKhoan').invalid && (signinForm.get('taiKhoan').touched||signinForm.get('taiKhoan').dirty)"
                        class="alert alert-danger">
                        <span *ngIf="signinForm.get('taiKhoan').errors.required">Tài khoản không được để trống</span>
                        <span
                            *ngIf="signinForm.get('taiKhoan').errors.minlength||signinForm.get('taiKhoan').errors.maxlength">Tài
                            khoản phải từ 3 đến 20 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="matKhau">Mật Khẩu</label>
                    <input type="password" id="matKhau" class="form-control" formControlName="matKhau">
                    <div *ngIf="signinForm.get('matKhau').invalid && (signinForm.get('matKhau').touched||signinForm.get('matKhau').dirty)"
                        class="alert alert-danger">
                        <span *ngIf="signinForm.get('matKhau').errors.required">Tài Khoản không được để trống</span>
                        <span *ngIf="signinForm.get('matKhau').errors.pattern">
                            Mật khẩu phải từ 5 ký tự và có ít nhất 1 chữ hoa, 1 số, và 1 chữ thường
                        </span>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Đăng Nhập</button>
            </form>
        </div>
    </div>
</div>